:root {
  --primary-color: #a8e6cf;
  --second-one-color: #b7c9d4;
  --second-two-color: #c3d6dc;
  --bg-color: #fefbf6;

  --font-title: "Poppins", serif;
  --font-paragraph: "Roboto", serif;
}

p,
li,
h1,
h2,
h3,
h4,
a {
  font-family: var(--font-title);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#compte_a_rebours {
  font-family: var(--font-paragraph);
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 280px;
  font-size: 42px;
}

#presentation {
  text-align: center;
  padding: 50px 20px;
}

#presentation h1 {
  font-size: 56px;
  margin-top: 200px;
}
